.abt-self {
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.abt-heading-sec {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.about-content {
  width: 92%;
  margin-left: 4%;
  padding-bottom: 50px;
}
.abt-main {
  margin-top: 1px;
  padding-top: 30px;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  color: #fff;
}
.abt-main::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #7843e9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.abt-main-sub {
  font-size: 1.2rem;
  color: gainsboro;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  display: block;
  max-width: 70%;
  margin-left: 15%;
}
.about-mine {
  margin-top: 8%;
  display: flex;
}
.abt-mine {
  display: grid;
}
.abt-mine-details {
  width: 100%;
  display: grid;
}
strong {
  letter-spacing: 1px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.abt-mine-title,
.skills-title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  color: #44e7d8;
}
.abt-mine-para {
  font-size: 1rem;
  color: #fff;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.abt-mine-para a {
  color: #b6cc76;
  font-weight: 700;
}
.about-skills {
  width: 100%;
  margin-left: 10rem;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
}
.lists {
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  background: rgba(219, 112, 112, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
}
